.css_p_id_paciente_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_p_id_paciente_grid_line {vertical-align: top;text-align: right;}
.css_p_estado_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_p_estado_paciente_grid_line {vertical-align: top;text-align: right;}
.css_p_fecha_activacion_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_p_fecha_activacion_paciente_grid_line {vertical-align: top;text-align: right;}
.css_p_fecha_retiro_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_p_fecha_retiro_paciente_grid_line {vertical-align: top;text-align: right;}
.css_p_motivo_retiro_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_p_motivo_retiro_paciente_grid_line {vertical-align: top;text-align: right;}
.css_p_observacion_motivo_retiro_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_p_observacion_motivo_retiro_paciente_grid_line {vertical-align: top;text-align: right;}
.css_p_identificacion_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_p_identificacion_paciente_grid_line {vertical-align: top;text-align: right;}
.css_p_nombre_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_p_nombre_paciente_grid_line {vertical-align: top;text-align: right;}
.css_p_apellido_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_p_apellido_paciente_grid_line {vertical-align: top;text-align: right;}
.css_p_telefono_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_p_telefono_paciente_grid_line {vertical-align: top;text-align: right;}
.css_p_telefono2_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_p_telefono2_paciente_grid_line {vertical-align: top;text-align: right;}
.css_p_telefono3_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_p_telefono3_paciente_grid_line {vertical-align: top;text-align: right;}
.css_p_correo_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_p_correo_paciente_grid_line {vertical-align: top;text-align: right;}
.css_p_direccion_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_p_direccion_paciente_grid_line {vertical-align: top;text-align: right;}
.css_p_genero_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_p_genero_paciente_grid_line {vertical-align: top;text-align: right;}
.css_p_fecha_nacimineto_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_p_fecha_nacimineto_paciente_grid_line {vertical-align: top;text-align: right;}
.css_p_id_ultima_gestion_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_p_id_ultima_gestion_grid_line {vertical-align: top;text-align: right;}
.css_t_id_tratamiento_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_t_id_tratamiento_grid_line {vertical-align: top;text-align: right;}
.css_p_usuario_creacion_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_p_usuario_creacion_grid_line {vertical-align: top;text-align: right;}
.css_t_producto_tratamiento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_t_producto_tratamiento_grid_line {vertical-align: top;text-align: right;}
.css_t_nombre_referencia_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_t_nombre_referencia_grid_line {vertical-align: top;text-align: right;}
.css_t_clasificacion_patologica_tratamiento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_t_clasificacion_patologica_tratamiento_grid_line {vertical-align: top;text-align: right;}
.css_t_tratamiento_previo_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_t_tratamiento_previo_grid_line {vertical-align: top;text-align: right;}
.css_t_consentimiento_tratamiento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_t_consentimiento_tratamiento_grid_line {vertical-align: top;text-align: right;}
.css_t_fecha_inicio_terapia_tratamiento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_t_fecha_inicio_terapia_tratamiento_grid_line {vertical-align: top;text-align: right;}
.css_t_regimen_tratamiento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_t_regimen_tratamiento_grid_line {vertical-align: top;text-align: right;}
.css_t_asegurador_tratamiento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_t_asegurador_tratamiento_grid_line {vertical-align: top;text-align: right;}
.css_t_operador_logistico_tratamiento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_t_operador_logistico_tratamiento_grid_line {vertical-align: top;text-align: right;}
.css_t_fecha_ultima_reclamacion_tratamiento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_t_fecha_ultima_reclamacion_tratamiento_grid_line {vertical-align: top;text-align: right;}
.css_t_otros_operadores_tratamiento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_t_otros_operadores_tratamiento_grid_line {vertical-align: top;text-align: right;}
.css_t_medios_adquisicion_tratamiento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_t_medios_adquisicion_tratamiento_grid_line {vertical-align: top;text-align: right;}
.css_t_ips_atiende_tratamiento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_t_ips_atiende_tratamiento_grid_line {vertical-align: top;text-align: right;}
.css_t_medico_tratamiento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_t_medico_tratamiento_grid_line {vertical-align: top;text-align: right;}
.css_t_especialidad_tratamiento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_t_especialidad_tratamiento_grid_line {vertical-align: top;text-align: right;}
.css_t_paramedico_tratamiento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_t_paramedico_tratamiento_grid_line {vertical-align: top;text-align: right;}
.css_t_ciudad_base_paramedico_tratamiento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_t_ciudad_base_paramedico_tratamiento_grid_line {vertical-align: top;text-align: right;}
.css_t_notas_adjuntos_tratamiento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_t_notas_adjuntos_tratamiento_grid_line {vertical-align: top;text-align: right;}
