.css_p_id_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_p_id_paciente_grid_line {vertical-align: top;text-align: left;}
.css_g_fecha_comunicacion_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_g_fecha_comunicacion_grid_line {vertical-align: top;text-align: left;}
.css_p_nombre_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_p_nombre_paciente_grid_line {vertical-align: top;text-align: left;}
.css_p_apellido_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_p_apellido_paciente_grid_line {vertical-align: top;text-align: left;}
.css_t_producto_tratamiento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_t_producto_tratamiento_grid_line {vertical-align: top;text-align: left;}
.css_p_pais_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_p_pais_paciente_grid_line {vertical-align: top;text-align: left;}
.css_p_ciudad_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_p_ciudad_paciente_grid_line {vertical-align: top;text-align: left;}
.css_g_evento_adverso_gestion_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_g_evento_adverso_gestion_grid_line {vertical-align: top;text-align: left;}
.css_g_codigo_argus_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_g_codigo_argus_grid_line {vertical-align: top;text-align: left;}
.css_g_autor_gestion_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_g_autor_gestion_grid_line {vertical-align: top;text-align: left;}
