.css_bg_fecha_comunicacion_det_label {text-align: right;vertical-align: middle;}
.css_bg_fecha_comunicacion_det_line {height:0px;text-align: right;}
.css_bp_id_paciente_det_label {text-align: right;vertical-align: middle;}
.css_bp_id_paciente_det_line {height:0px;text-align: right;}
.css_bp_nombre_paciente_det_label {text-align: right;vertical-align: middle;}
.css_bp_nombre_paciente_det_line {height:0px;text-align: right;}
.css_bp_apellido_paciente_det_label {text-align: right;vertical-align: middle;}
.css_bp_apellido_paciente_det_line {height:0px;text-align: right;}
.css_bp_identificacion_paciente_det_label {text-align: right;vertical-align: middle;}
.css_bp_identificacion_paciente_det_line {height:0px;text-align: right;}
.css_bt_producto_tratamiento_det_label {text-align: right;vertical-align: middle;}
.css_bt_producto_tratamiento_det_line {height:0px;text-align: right;}
.css_bp_telefono_paciente_det_label {text-align: right;vertical-align: middle;}
.css_bp_telefono_paciente_det_line {height:0px;text-align: right;}
.css_bp_telefono2_paciente_det_label {text-align: right;vertical-align: middle;}
.css_bp_telefono2_paciente_det_line {height:0px;text-align: right;}
.css_bp_telefono3_paciente_det_label {text-align: right;vertical-align: middle;}
.css_bp_telefono3_paciente_det_line {height:0px;text-align: right;}
.css_bg_fecha_programada_gestion_det_label {text-align: right;vertical-align: middle;}
.css_bg_fecha_programada_gestion_det_line {height:0px;text-align: right;}
.css_bg_descripcion_comunicacion_gestion_det_label {text-align: right;vertical-align: middle;}
.css_bg_descripcion_comunicacion_gestion_det_line {height:0px;text-align: right;}
.css_bg_evento_adverso_gestion_det_label {text-align: right;vertical-align: middle;}
.css_bg_evento_adverso_gestion_det_line {height:0px;text-align: right;}
.css_bg_tipo_evento_adverso_det_label {text-align: right;vertical-align: middle;}
.css_bg_tipo_evento_adverso_det_line {height:0px;text-align: right;}
.css_bg_autor_gestion_det_label {text-align: right;vertical-align: middle;}
.css_bg_autor_gestion_det_line {height:0px;text-align: right;}
.css_bg_numero_intentos_gestion_det_label {text-align: right;vertical-align: middle;}
.css_bg_numero_intentos_gestion_det_line {height:0px;text-align: right;}
.css_bp_estado_paciente_det_label {text-align: right;vertical-align: middle;}
.css_bp_estado_paciente_det_line {height:0px;text-align: right;}
.css_bg_tipo_llamada_gestion_det_label {text-align: right;vertical-align: middle;}
.css_bg_tipo_llamada_gestion_det_line {height:0px;text-align: right;}
