.css_id_paciente_det_label {text-align: left;vertical-align: middle;}
.css_id_paciente_det_line {height:0px;text-align: left;}
.css_logro_comunicacion_gestion_det_label {text-align: left;vertical-align: middle;}
.css_logro_comunicacion_gestion_det_line {height:0px;text-align: left;}
.css_fecha_comunicacion_det_label {text-align: left;vertical-align: middle;}
.css_fecha_comunicacion_det_line {height:0px;text-align: left;}
.css_autor_gestion_det_label {text-align: left;vertical-align: middle;}
.css_autor_gestion_det_line {height:0px;text-align: left;}
.css_estado_paciente_det_label {text-align: left;vertical-align: middle;}
.css_estado_paciente_det_line {height:0px;text-align: left;}
.css_fecha_activacion_paciente_det_label {text-align: left;vertical-align: middle;}
.css_fecha_activacion_paciente_det_line {height:0px;text-align: left;}
.css_producto_tratamiento_det_label {text-align: left;vertical-align: middle;}
.css_producto_tratamiento_det_line {height:0px;text-align: left;}
.css_nombre_referencia_det_label {text-align: left;vertical-align: middle;}
.css_nombre_referencia_det_line {height:0px;text-align: left;}
.css_asegurador_tratamiento_det_label {text-align: left;vertical-align: middle;}
.css_asegurador_tratamiento_det_line {height:0px;text-align: left;}
.css_operador_logistico_tratamiento_det_label {text-align: left;vertical-align: middle;}
.css_operador_logistico_tratamiento_det_line {height:0px;text-align: left;}
.css_fecha_reclamacion_gestion_det_label {text-align: left;vertical-align: middle;}
.css_fecha_reclamacion_gestion_det_line {height:0px;text-align: left;}
.css_id_historial_reclamacion_det_label {text-align: left;vertical-align: middle;}
.css_id_historial_reclamacion_det_line {height:0px;text-align: left;}
.css_anio_historial_reclamacion_det_label {text-align: left;vertical-align: middle;}
.css_anio_historial_reclamacion_det_line {height:0px;text-align: left;}
.css_mes1_det_label {text-align: left;vertical-align: middle;}
.css_mes1_det_line {height:0px;text-align: left;}
.css_reclamo1_det_label {text-align: left;vertical-align: middle;}
.css_reclamo1_det_line {height:0px;text-align: left;}
.css_fecha_reclamacion1_det_label {text-align: left;vertical-align: middle;}
.css_fecha_reclamacion1_det_line {height:0px;text-align: left;}
.css_motivo_no_reclamacion1_det_label {text-align: left;vertical-align: middle;}
.css_motivo_no_reclamacion1_det_line {height:0px;text-align: left;}
.css_mes2_det_label {text-align: left;vertical-align: middle;}
.css_mes2_det_line {height:0px;text-align: left;}
.css_reclamo2_det_label {text-align: left;vertical-align: middle;}
.css_reclamo2_det_line {height:0px;text-align: left;}
.css_fecha_reclamacion2_det_label {text-align: left;vertical-align: middle;}
.css_fecha_reclamacion2_det_line {height:0px;text-align: left;}
.css_motivo_no_reclamacion2_det_label {text-align: left;vertical-align: middle;}
.css_motivo_no_reclamacion2_det_line {height:0px;text-align: left;}
.css_mes3_det_label {text-align: left;vertical-align: middle;}
.css_mes3_det_line {height:0px;text-align: left;}
.css_reclamo3_det_label {text-align: left;vertical-align: middle;}
.css_reclamo3_det_line {height:0px;text-align: left;}
.css_fecha_reclamacion3_det_label {text-align: left;vertical-align: middle;}
.css_fecha_reclamacion3_det_line {height:0px;text-align: left;}
.css_motivo_no_reclamacion3_det_label {text-align: left;vertical-align: middle;}
.css_motivo_no_reclamacion3_det_line {height:0px;text-align: left;}
.css_mes4_det_label {text-align: left;vertical-align: middle;}
.css_mes4_det_line {height:0px;text-align: left;}
.css_reclamo4_det_label {text-align: left;vertical-align: middle;}
.css_reclamo4_det_line {height:0px;text-align: left;}
.css_fecha_reclamacion4_det_label {text-align: left;vertical-align: middle;}
.css_fecha_reclamacion4_det_line {height:0px;text-align: left;}
.css_motivo_no_reclamacion4_det_label {text-align: left;vertical-align: middle;}
.css_motivo_no_reclamacion4_det_line {height:0px;text-align: left;}
.css_mes5_det_label {text-align: left;vertical-align: middle;}
.css_mes5_det_line {height:0px;text-align: left;}
.css_reclamo5_det_label {text-align: left;vertical-align: middle;}
.css_reclamo5_det_line {height:0px;text-align: left;}
.css_fecha_reclamacion5_det_label {text-align: left;vertical-align: middle;}
.css_fecha_reclamacion5_det_line {height:0px;text-align: left;}
.css_motivo_no_reclamacion5_det_label {text-align: left;vertical-align: middle;}
.css_motivo_no_reclamacion5_det_line {height:0px;text-align: left;}
.css_mes6_det_label {text-align: left;vertical-align: middle;}
.css_mes6_det_line {height:0px;text-align: left;}
.css_reclamo6_det_label {text-align: left;vertical-align: middle;}
.css_reclamo6_det_line {height:0px;text-align: left;}
.css_fecha_reclamacion6_det_label {text-align: left;vertical-align: middle;}
.css_fecha_reclamacion6_det_line {height:0px;text-align: left;}
.css_motivo_no_reclamacion6_det_label {text-align: left;vertical-align: middle;}
.css_motivo_no_reclamacion6_det_line {height:0px;text-align: left;}
.css_mes7_det_label {text-align: left;vertical-align: middle;}
.css_mes7_det_line {height:0px;text-align: left;}
.css_reclamo7_det_label {text-align: left;vertical-align: middle;}
.css_reclamo7_det_line {height:0px;text-align: left;}
.css_fecha_reclamacion7_det_label {text-align: left;vertical-align: middle;}
.css_fecha_reclamacion7_det_line {height:0px;text-align: left;}
.css_motivo_no_reclamacion7_det_label {text-align: left;vertical-align: middle;}
.css_motivo_no_reclamacion7_det_line {height:0px;text-align: left;}
.css_mes8_det_label {text-align: left;vertical-align: middle;}
.css_mes8_det_line {height:0px;text-align: left;}
.css_reclamo8_det_label {text-align: left;vertical-align: middle;}
.css_reclamo8_det_line {height:0px;text-align: left;}
.css_fecha_reclamacion8_det_label {text-align: left;vertical-align: middle;}
.css_fecha_reclamacion8_det_line {height:0px;text-align: left;}
.css_motivo_no_reclamacion8_det_label {text-align: left;vertical-align: middle;}
.css_motivo_no_reclamacion8_det_line {height:0px;text-align: left;}
.css_mes9_det_label {text-align: left;vertical-align: middle;}
.css_mes9_det_line {height:0px;text-align: left;}
.css_reclamo9_det_label {text-align: left;vertical-align: middle;}
.css_reclamo9_det_line {height:0px;text-align: left;}
.css_fecha_reclamacion9_det_label {text-align: left;vertical-align: middle;}
.css_fecha_reclamacion9_det_line {height:0px;text-align: left;}
.css_motivo_no_reclamacion9_det_label {text-align: left;vertical-align: middle;}
.css_motivo_no_reclamacion9_det_line {height:0px;text-align: left;}
.css_mes10_det_label {text-align: left;vertical-align: middle;}
.css_mes10_det_line {height:0px;text-align: left;}
.css_reclamo10_det_label {text-align: left;vertical-align: middle;}
.css_reclamo10_det_line {height:0px;text-align: left;}
.css_fecha_reclamacion10_det_label {text-align: left;vertical-align: middle;}
.css_fecha_reclamacion10_det_line {height:0px;text-align: left;}
.css_motivo_no_reclamacion10_det_label {text-align: left;vertical-align: middle;}
.css_motivo_no_reclamacion10_det_line {height:0px;text-align: left;}
.css_mes11_det_label {text-align: left;vertical-align: middle;}
.css_mes11_det_line {height:0px;text-align: left;}
.css_reclamo11_det_label {text-align: left;vertical-align: middle;}
.css_reclamo11_det_line {height:0px;text-align: left;}
.css_fecha_reclamacion11_det_label {text-align: left;vertical-align: middle;}
.css_fecha_reclamacion11_det_line {height:0px;text-align: left;}
.css_motivo_no_reclamacion11_det_label {text-align: left;vertical-align: middle;}
.css_motivo_no_reclamacion11_det_line {height:0px;text-align: left;}
.css_mes12_det_label {text-align: left;vertical-align: middle;}
.css_mes12_det_line {height:0px;text-align: left;}
.css_reclamo12_det_label {text-align: left;vertical-align: middle;}
.css_reclamo12_det_line {height:0px;text-align: left;}
.css_fecha_reclamacion12_det_label {text-align: left;vertical-align: middle;}
.css_fecha_reclamacion12_det_line {height:0px;text-align: left;}
.css_motivo_no_reclamacion12_det_label {text-align: left;vertical-align: middle;}
.css_motivo_no_reclamacion12_det_line {height:0px;text-align: left;}
