.css_bp_id_paciente_det_label {text-align: right;vertical-align: middle;}
.css_bp_id_paciente_det_line {height:0px;text-align: right;}
.css_bg_fecha_comunicacion_det_label {text-align: right;vertical-align: middle;}
.css_bg_fecha_comunicacion_det_line {height:0px;text-align: right;}
.css_bp_nombre_paciente_det_label {text-align: right;vertical-align: middle;}
.css_bp_nombre_paciente_det_line {height:0px;text-align: right;}
.css_bp_apellido_paciente_det_label {text-align: right;vertical-align: middle;}
.css_bp_apellido_paciente_det_line {height:0px;text-align: right;}
.css_bt_producto_tratamiento_det_label {text-align: right;vertical-align: middle;}
.css_bt_producto_tratamiento_det_line {height:0px;text-align: right;}
.css_bp_ciudad_paciente_det_label {text-align: right;vertical-align: middle;}
.css_bp_ciudad_paciente_det_line {height:0px;text-align: right;}
.css_bg_evento_adverso_gestion_det_label {text-align: right;vertical-align: middle;}
.css_bg_evento_adverso_gestion_det_line {height:0px;text-align: right;}
.css_bg_codigo_argus_det_label {text-align: right;vertical-align: middle;}
.css_bg_codigo_argus_det_line {height:0px;text-align: right;}
.css_bg_autor_gestion_det_label {text-align: right;vertical-align: middle;}
.css_bg_autor_gestion_det_line {height:0px;text-align: right;}
