.css_c_id_clasificacion_patologica_det_label {text-align: left;vertical-align: middle;}
.css_c_id_clasificacion_patologica_det_line {height:0px;text-align: left;}
.css_c_nombre_referencia_det_label {text-align: left;vertical-align: middle;}
.css_c_nombre_referencia_det_line {height:0px;text-align: left;}
.css_c_nombre_clasificacion_det_label {text-align: left;vertical-align: middle;}
.css_c_nombre_clasificacion_det_line {height:0px;text-align: left;}
.css_p_id_paciente_det_label {text-align: left;vertical-align: middle;}
.css_p_id_paciente_det_line {height:0px;text-align: left;}
.css_p_estado_paciente_det_label {text-align: left;vertical-align: middle;}
.css_p_estado_paciente_det_line {height:0px;text-align: left;}
.css_p_fecha_activacion_paciente_det_label {text-align: left;vertical-align: middle;}
.css_p_fecha_activacion_paciente_det_line {height:0px;text-align: left;}
.css_p_fecha_retiro_paciente_det_label {text-align: left;vertical-align: middle;}
.css_p_fecha_retiro_paciente_det_line {height:0px;text-align: left;}
.css_p_motivo_retiro_paciente_det_label {text-align: left;vertical-align: middle;}
.css_p_motivo_retiro_paciente_det_line {height:0px;text-align: left;}
.css_p_observacion_motivo_retiro_paciente_det_label {text-align: left;vertical-align: middle;}
.css_p_observacion_motivo_retiro_paciente_det_line {height:0px;text-align: left;}
.css_p_identificacion_paciente_det_label {text-align: left;vertical-align: middle;}
.css_p_identificacion_paciente_det_line {height:0px;text-align: left;}
.css_p_nombre_paciente_det_label {text-align: left;vertical-align: middle;}
.css_p_nombre_paciente_det_line {height:0px;text-align: left;}
.css_p_apellido_paciente_det_label {text-align: left;vertical-align: middle;}
.css_p_apellido_paciente_det_line {height:0px;text-align: left;}
.css_p_correo_paciente_det_label {text-align: left;vertical-align: middle;}
.css_p_correo_paciente_det_line {height:0px;text-align: left;}
.css_p_direccion_paciente_det_label {text-align: left;vertical-align: middle;}
.css_p_direccion_paciente_det_line {height:0px;text-align: left;}
.css_p_barrio_paciente_det_label {text-align: left;vertical-align: middle;}
.css_p_barrio_paciente_det_line {height:0px;text-align: left;}
.css_p_pais_paciente_det_label {text-align: left;vertical-align: middle;}
.css_p_pais_paciente_det_line {height:0px;text-align: left;}
.css_p_ciudad_paciente_det_label {text-align: left;vertical-align: middle;}
.css_p_ciudad_paciente_det_line {height:0px;text-align: left;}
.css_p_id_ultima_gestion_det_label {text-align: left;vertical-align: middle;}
.css_p_id_ultima_gestion_det_line {height:0px;text-align: left;}
.css_p_usuario_creacion_det_label {text-align: left;vertical-align: middle;}
.css_p_usuario_creacion_det_line {height:0px;text-align: left;}
.css_p_id_ultima_gestion_1_det_label {text-align: left;vertical-align: middle;}
.css_p_id_ultima_gestion_1_det_line {height:0px;text-align: left;}
.css_p_usuario_creacion_1_det_label {text-align: left;vertical-align: middle;}
.css_p_usuario_creacion_1_det_line {height:0px;text-align: left;}
