.css_id_gestion_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_gestion_grid_line {vertical-align: top;text-align: right;}
.css_motivo_comunicacion_gestion_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_motivo_comunicacion_gestion_grid_line {vertical-align: top;text-align: right;}
.css_medio_contacto_gestion_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_medio_contacto_gestion_grid_line {vertical-align: top;text-align: right;}
.css_tipo_llamada_gestion_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_tipo_llamada_gestion_grid_line {vertical-align: top;text-align: right;}
.css_logro_comunicacion_gestion_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_logro_comunicacion_gestion_grid_line {vertical-align: top;text-align: right;}
.css_motivo_no_comunicacion_gestion_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_motivo_no_comunicacion_gestion_grid_line {vertical-align: top;text-align: right;}
.css_numero_intentos_gestion_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_numero_intentos_gestion_grid_line {vertical-align: top;text-align: right;}
.css_esperado_gestion_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_esperado_gestion_grid_line {vertical-align: top;text-align: right;}
.css_estado_ctc_gestion_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_estado_ctc_gestion_grid_line {vertical-align: top;text-align: right;}
.css_dificultad_acceso_gestion_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_dificultad_acceso_gestion_grid_line {vertical-align: top;text-align: right;}
.css_tipo_dificultad_gestion_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_tipo_dificultad_gestion_grid_line {vertical-align: top;text-align: right;}
.css_envios_gestion_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_envios_gestion_grid_line {vertical-align: top;text-align: right;}
.css_medicamentos_gestion_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_medicamentos_gestion_grid_line {vertical-align: top;text-align: right;}
.css_tipo_envio_gestion_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_tipo_envio_gestion_grid_line {vertical-align: top;text-align: right;}
.css_genera_solicitud_gestion_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_genera_solicitud_gestion_grid_line {vertical-align: top;text-align: right;}
.css_fecha_proxima_llamada_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_fecha_proxima_llamada_grid_line {vertical-align: top;text-align: right;}
.css_motivo_proxima_llamada_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_motivo_proxima_llamada_grid_line {vertical-align: top;text-align: right;}
.css_observacion_proxima_llamada_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_observacion_proxima_llamada_grid_line {vertical-align: top;text-align: right;}
.css_fecha_reclamacion_gestion_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_fecha_reclamacion_gestion_grid_line {vertical-align: top;text-align: right;}
.css_autor_gestion_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_autor_gestion_grid_line {vertical-align: top;text-align: right;}
.css_nota_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_nota_grid_line {vertical-align: top;text-align: right;}
.css_descripcion_comunicacion_gestion_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_descripcion_comunicacion_gestion_grid_line {vertical-align: top;text-align: right;}
.css_fecha_programada_gestion_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_fecha_programada_gestion_grid_line {vertical-align: top;text-align: right;}
.css_usuario_asigando_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_usuario_asigando_grid_line {vertical-align: top;text-align: right;}
.css_id_paciente_fk2_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_paciente_fk2_grid_line {vertical-align: top;text-align: right;}
.css_fecha_comunicacion_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_fecha_comunicacion_grid_line {vertical-align: top;text-align: right;}
.css_estado_gestion_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_estado_gestion_grid_line {vertical-align: top;text-align: right;}
.css_autor_modificacion_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_autor_modificacion_grid_line {vertical-align: top;text-align: right;}
.css_fecha_subido_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_fecha_subido_grid_line {vertical-align: top;text-align: right;}
.css_codigo_argus_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_codigo_argus_grid_line {vertical-align: top;text-align: right;}
