.css_p_id_paciente_det_label {text-align: right;vertical-align: middle;}
.css_p_id_paciente_det_line {height:0px;text-align: right;}
.css_g_logro_comunicacion_gestion_det_label {text-align: right;vertical-align: middle;}
.css_g_logro_comunicacion_gestion_det_line {height:0px;text-align: right;}
.css_g_fecha_comunicacion_det_label {text-align: right;vertical-align: middle;}
.css_g_fecha_comunicacion_det_line {height:0px;text-align: right;}
.css_g_autor_gestion_det_label {text-align: right;vertical-align: middle;}
.css_g_autor_gestion_det_line {height:0px;text-align: right;}
.css_p_pais_paciente_det_label {text-align: right;vertical-align: middle;}
.css_p_pais_paciente_det_line {height:0px;text-align: right;}
.css_p_ciudad_paciente_det_label {text-align: right;vertical-align: middle;}
.css_p_ciudad_paciente_det_line {height:0px;text-align: right;}
.css_p_estado_paciente_det_label {text-align: right;vertical-align: middle;}
.css_p_estado_paciente_det_line {height:0px;text-align: right;}
.css_p_fecha_activacion_paciente_det_label {text-align: right;vertical-align: middle;}
.css_p_fecha_activacion_paciente_det_line {height:0px;text-align: right;}
.css_p_fecha_retiro_paciente_det_label {text-align: right;vertical-align: middle;}
.css_p_fecha_retiro_paciente_det_line {height:0px;text-align: right;}
.css_p_motivo_retiro_paciente_det_label {text-align: right;vertical-align: middle;}
.css_p_motivo_retiro_paciente_det_line {height:0px;text-align: right;}
.css_t_consentimiento_tratamiento_det_label {text-align: right;vertical-align: middle;}
.css_t_consentimiento_tratamiento_det_line {height:0px;text-align: right;}
.css_p_codigo_xofigo_det_label {text-align: right;vertical-align: middle;}
.css_p_codigo_xofigo_det_line {height:0px;text-align: right;}
.css_t_clasificacion_patologica_tratamiento_det_label {text-align: right;vertical-align: middle;}
.css_t_clasificacion_patologica_tratamiento_det_line {height:0px;text-align: right;}
.css_t_producto_tratamiento_det_label {text-align: right;vertical-align: middle;}
.css_t_producto_tratamiento_det_line {height:0px;text-align: right;}
.css_t_nombre_referencia_det_label {text-align: right;vertical-align: middle;}
.css_t_nombre_referencia_det_line {height:0px;text-align: right;}
.css_t_dosis_tratamiento_det_label {text-align: right;vertical-align: middle;}
.css_t_dosis_tratamiento_det_line {height:0px;text-align: right;}
.css_g_numero_cajas_det_label {text-align: right;vertical-align: middle;}
.css_g_numero_cajas_det_line {height:0px;text-align: right;}
.css_t_asegurador_tratamiento_det_label {text-align: right;vertical-align: middle;}
.css_t_asegurador_tratamiento_det_line {height:0px;text-align: right;}
.css_t_operador_logistico_tratamiento_det_label {text-align: right;vertical-align: middle;}
.css_t_operador_logistico_tratamiento_det_line {height:0px;text-align: right;}
.css_t_punto_entrega_det_label {text-align: right;vertical-align: middle;}
.css_t_punto_entrega_det_line {height:0px;text-align: right;}
.css_t_regimen_tratamiento_det_label {text-align: right;vertical-align: middle;}
.css_t_regimen_tratamiento_det_line {height:0px;text-align: right;}
.css_t_medico_tratamiento_det_label {text-align: right;vertical-align: middle;}
.css_t_medico_tratamiento_det_line {height:0px;text-align: right;}
.css_t_tratamiento_previo_det_label {text-align: right;vertical-align: middle;}
.css_t_tratamiento_previo_det_line {height:0px;text-align: right;}
.css_g_reclamo_gestion_det_label {text-align: right;vertical-align: middle;}
.css_g_reclamo_gestion_det_line {height:0px;text-align: right;}
.css_g_fecha_reclamacion_gestion_det_label {text-align: right;vertical-align: middle;}
.css_g_fecha_reclamacion_gestion_det_line {height:0px;text-align: right;}
.css_g_causa_no_reclamacion_gestion_det_label {text-align: right;vertical-align: middle;}
.css_g_causa_no_reclamacion_gestion_det_line {height:0px;text-align: right;}
.css_g_descripcion_comunicacion_gestion_det_label {text-align: right;vertical-align: middle;}
.css_g_descripcion_comunicacion_gestion_det_line {height:0px;text-align: right;}
.css_g_fecha_programada_gestion_det_label {text-align: right;vertical-align: middle;}
.css_g_fecha_programada_gestion_det_line {height:0px;text-align: right;}
.css_p_id_ultima_gestion_det_label {text-align: right;vertical-align: middle;}
.css_p_id_ultima_gestion_det_line {height:0px;text-align: right;}
.css_t_id_tratamiento_det_label {text-align: right;vertical-align: middle;}
.css_t_id_tratamiento_det_line {height:0px;text-align: right;}
.css_t_id_paciente_fk_det_label {text-align: right;vertical-align: middle;}
.css_t_id_paciente_fk_det_line {height:0px;text-align: right;}
