.css_p_id_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_p_id_paciente_grid_line {vertical-align: top;text-align: left;}
.css_g_logro_comunicacion_gestion_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_g_logro_comunicacion_gestion_grid_line {vertical-align: top;text-align: left;}
.css_g_fecha_comunicacion_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_g_fecha_comunicacion_grid_line {vertical-align: top;text-align: left;}
.css_g_autor_gestion_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_g_autor_gestion_grid_line {vertical-align: top;text-align: left;}
.css_p_pais_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_p_pais_paciente_grid_line {vertical-align: top;text-align: left;}
.css_p_ciudad_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_p_ciudad_paciente_grid_line {vertical-align: top;text-align: left;}
.css_p_estado_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_p_estado_paciente_grid_line {vertical-align: top;text-align: left;}
.css_p_fecha_activacion_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_p_fecha_activacion_paciente_grid_line {vertical-align: top;text-align: left;}
.css_p_fecha_retiro_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_p_fecha_retiro_paciente_grid_line {vertical-align: top;text-align: left;}
.css_p_motivo_retiro_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_p_motivo_retiro_paciente_grid_line {vertical-align: top;text-align: left;}
.css_t_consentimiento_tratamiento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_t_consentimiento_tratamiento_grid_line {vertical-align: top;text-align: left;}
.css_p_codigo_xofigo_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_p_codigo_xofigo_grid_line {vertical-align: top;text-align: left;}
.css_t_clasificacion_patologica_tratamiento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_t_clasificacion_patologica_tratamiento_grid_line {vertical-align: top;text-align: left;}
.css_t_producto_tratamiento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_t_producto_tratamiento_grid_line {vertical-align: top;text-align: left;}
.css_t_nombre_referencia_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_t_nombre_referencia_grid_line {vertical-align: top;text-align: left;}
.css_t_dosis_tratamiento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_t_dosis_tratamiento_grid_line {vertical-align: top;text-align: left;}
.css_g_numero_cajas_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_g_numero_cajas_grid_line {vertical-align: top;text-align: left;}
.css_t_asegurador_tratamiento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_t_asegurador_tratamiento_grid_line {vertical-align: top;text-align: left;}
.css_t_operador_logistico_tratamiento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_t_operador_logistico_tratamiento_grid_line {vertical-align: top;text-align: left;}
.css_t_punto_entrega_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_t_punto_entrega_grid_line {vertical-align: top;text-align: left;}
.css_t_regimen_tratamiento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_t_regimen_tratamiento_grid_line {vertical-align: top;text-align: left;}
.css_t_medico_tratamiento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_t_medico_tratamiento_grid_line {vertical-align: top;text-align: left;}
.css_t_tratamiento_previo_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_t_tratamiento_previo_grid_line {vertical-align: top;text-align: left;}
.css_g_reclamo_gestion_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_g_reclamo_gestion_grid_line {vertical-align: top;text-align: left;}
.css_g_fecha_reclamacion_gestion_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_g_fecha_reclamacion_gestion_grid_line {vertical-align: top;text-align: left;}
.css_g_causa_no_reclamacion_gestion_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_g_causa_no_reclamacion_gestion_grid_line {vertical-align: top;text-align: left;}
.css_g_descripcion_comunicacion_gestion_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_g_descripcion_comunicacion_gestion_grid_line {vertical-align: top;text-align: left;}
.css_g_fecha_programada_gestion_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_g_fecha_programada_gestion_grid_line {vertical-align: top;text-align: left;}
.css_p_id_ultima_gestion_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_p_id_ultima_gestion_grid_line {vertical-align: top;text-align: left;}
.css_t_id_tratamiento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_t_id_tratamiento_grid_line {vertical-align: top;text-align: left;}
.css_t_id_paciente_fk_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_t_id_paciente_fk_grid_line {vertical-align: top;text-align: left;}
