.css_be_id_edu_det_label {text-align: left;vertical-align: middle;}
.css_be_id_edu_det_line {height:0px;text-align: left;}
.css_be_user_det_label {text-align: left;vertical-align: middle;}
.css_be_user_det_line {height:0px;text-align: left;}
.css_be_id_paci_fk_det_label {text-align: left;vertical-align: middle;}
.css_be_id_paci_fk_det_line {height:0px;text-align: left;}
.css_be_se_brindo_edu_det_label {text-align: left;vertical-align: middle;}
.css_be_se_brindo_edu_det_line {height:0px;text-align: left;}
.css_be_tema_si_edu_det_label {text-align: left;vertical-align: middle;}
.css_be_tema_si_edu_det_line {height:0px;text-align: left;}
.css_be_fecha_si_edu_det_label {text-align: left;vertical-align: middle;}
.css_be_fecha_si_edu_det_line {height:0px;text-align: left;}
.css_be_motivo_no_edu_det_label {text-align: left;vertical-align: middle;}
.css_be_motivo_no_edu_det_line {height:0px;text-align: left;}
.css_be_fecha_registro_det_label {text-align: left;vertical-align: middle;}
.css_be_fecha_registro_det_line {height:0px;text-align: left;}
.css_bp_id_paciente_det_label {text-align: left;vertical-align: middle;}
.css_bp_id_paciente_det_line {height:0px;text-align: left;}
.css_bp_identificacion_paciente_det_label {text-align: left;vertical-align: middle;}
.css_bp_identificacion_paciente_det_line {height:0px;text-align: left;}
.css_bp_nombre_paciente_det_label {text-align: left;vertical-align: middle;}
.css_bp_nombre_paciente_det_line {height:0px;text-align: left;}
.css_bp_apellido_paciente_det_label {text-align: left;vertical-align: middle;}
.css_bp_apellido_paciente_det_line {height:0px;text-align: left;}
