.css_p_id_paciente_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_p_id_paciente_grid_line {vertical-align: top;text-align: right;}
.css_g_logro_comunicacion_gestion_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_g_logro_comunicacion_gestion_grid_line {vertical-align: top;text-align: left;}
.css_g_fecha_comunicacion_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_g_fecha_comunicacion_grid_line {vertical-align: top;text-align: left;}
.css_g_autor_gestion_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_g_autor_gestion_grid_line {vertical-align: top;text-align: left;}
.css_p_pais_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_p_pais_paciente_grid_line {vertical-align: top;text-align: left;}
.css_p_ciudad_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_p_ciudad_paciente_grid_line {vertical-align: top;text-align: left;}
.css_p_estado_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_p_estado_paciente_grid_line {vertical-align: top;text-align: left;}
.css_p_status_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_p_status_paciente_grid_line {vertical-align: top;text-align: left;}
.css_p_fecha_activacion_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_p_fecha_activacion_paciente_grid_line {vertical-align: top;text-align: left;}
.css_p_codigo_xofigo_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_p_codigo_xofigo_grid_line {vertical-align: top;text-align: right;}
.css_t_producto_tratamiento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_t_producto_tratamiento_grid_line {vertical-align: top;text-align: left;}
.css_t_nombre_referencia_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_t_nombre_referencia_grid_line {vertical-align: top;text-align: left;}
.css_t_dosis_tratamiento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_t_dosis_tratamiento_grid_line {vertical-align: top;text-align: left;}
.css_g_numero_cajas_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_g_numero_cajas_grid_line {vertical-align: top;text-align: left;}
.css_t_asegurador_tratamiento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_t_asegurador_tratamiento_grid_line {vertical-align: top;text-align: left;}
.css_t_operador_logistico_tratamiento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_t_operador_logistico_tratamiento_grid_line {vertical-align: top;text-align: left;}
.css_t_punto_entrega_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_t_punto_entrega_grid_line {vertical-align: top;text-align: left;}
.css_g_reclamo_gestion_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_g_reclamo_gestion_grid_line {vertical-align: top;text-align: left;}
.css_g_fecha_reclamacion_gestion_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_g_fecha_reclamacion_gestion_grid_line {vertical-align: top;text-align: left;}
.css_g_causa_no_reclamacion_gestion_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_g_causa_no_reclamacion_gestion_grid_line {vertical-align: top;text-align: left;}
.css_hr_id_historial_reclamacion_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_hr_id_historial_reclamacion_grid_line {vertical-align: top;text-align: right;}
.css_hr_anio_historial_reclamacion_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_hr_anio_historial_reclamacion_grid_line {vertical-align: top;text-align: right;}
.css_hr_mes1_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_hr_mes1_grid_line {vertical-align: top;text-align: left;}
.css_hr_reclamo1_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_hr_reclamo1_grid_line {vertical-align: top;text-align: left;}
.css_hr_fecha_reclamacion1_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_hr_fecha_reclamacion1_grid_line {vertical-align: top;text-align: left;}
.css_hr_motivo_no_reclamacion1_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_hr_motivo_no_reclamacion1_grid_line {vertical-align: top;text-align: left;}
.css_hr_mes2_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_hr_mes2_grid_line {vertical-align: top;text-align: left;}
.css_hr_reclamo2_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_hr_reclamo2_grid_line {vertical-align: top;text-align: left;}
.css_hr_fecha_reclamacion2_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_hr_fecha_reclamacion2_grid_line {vertical-align: top;text-align: left;}
.css_hr_motivo_no_reclamacion2_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_hr_motivo_no_reclamacion2_grid_line {vertical-align: top;text-align: left;}
.css_hr_mes3_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_hr_mes3_grid_line {vertical-align: top;text-align: left;}
.css_hr_reclamo3_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_hr_reclamo3_grid_line {vertical-align: top;text-align: left;}
.css_hr_fecha_reclamacion3_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_hr_fecha_reclamacion3_grid_line {vertical-align: top;text-align: left;}
.css_hr_motivo_no_reclamacion3_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_hr_motivo_no_reclamacion3_grid_line {vertical-align: top;text-align: left;}
.css_hr_mes4_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_hr_mes4_grid_line {vertical-align: top;text-align: left;}
.css_hr_reclamo4_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_hr_reclamo4_grid_line {vertical-align: top;text-align: left;}
.css_hr_fecha_reclamacion4_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_hr_fecha_reclamacion4_grid_line {vertical-align: top;text-align: left;}
.css_hr_motivo_no_reclamacion4_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_hr_motivo_no_reclamacion4_grid_line {vertical-align: top;text-align: left;}
.css_hr_mes5_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_hr_mes5_grid_line {vertical-align: top;text-align: left;}
.css_hr_reclamo5_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_hr_reclamo5_grid_line {vertical-align: top;text-align: left;}
.css_hr_fecha_reclamacion5_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_hr_fecha_reclamacion5_grid_line {vertical-align: top;text-align: left;}
.css_hr_motivo_no_reclamacion5_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_hr_motivo_no_reclamacion5_grid_line {vertical-align: top;text-align: left;}
.css_hr_mes6_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_hr_mes6_grid_line {vertical-align: top;text-align: left;}
.css_hr_reclamo6_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_hr_reclamo6_grid_line {vertical-align: top;text-align: left;}
.css_hr_fecha_reclamacion6_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_hr_fecha_reclamacion6_grid_line {vertical-align: top;text-align: left;}
.css_hr_motivo_no_reclamacion6_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_hr_motivo_no_reclamacion6_grid_line {vertical-align: top;text-align: left;}
.css_hr_mes7_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_hr_mes7_grid_line {vertical-align: top;text-align: left;}
.css_hr_reclamo7_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_hr_reclamo7_grid_line {vertical-align: top;text-align: left;}
.css_hr_fecha_reclamacion7_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_hr_fecha_reclamacion7_grid_line {vertical-align: top;text-align: left;}
.css_hr_motivo_no_reclamacion7_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_hr_motivo_no_reclamacion7_grid_line {vertical-align: top;text-align: left;}
.css_hr_mes8_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_hr_mes8_grid_line {vertical-align: top;text-align: left;}
.css_hr_reclamo8_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_hr_reclamo8_grid_line {vertical-align: top;text-align: left;}
.css_hr_fecha_reclamacion8_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_hr_fecha_reclamacion8_grid_line {vertical-align: top;text-align: left;}
.css_hr_motivo_no_reclamacion8_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_hr_motivo_no_reclamacion8_grid_line {vertical-align: top;text-align: left;}
.css_hr_mes9_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_hr_mes9_grid_line {vertical-align: top;text-align: left;}
.css_hr_reclamo9_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_hr_reclamo9_grid_line {vertical-align: top;text-align: left;}
.css_hr_fecha_reclamacion9_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_hr_fecha_reclamacion9_grid_line {vertical-align: top;text-align: left;}
.css_hr_motivo_no_reclamacion9_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_hr_motivo_no_reclamacion9_grid_line {vertical-align: top;text-align: left;}
.css_hr_mes10_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_hr_mes10_grid_line {vertical-align: top;text-align: left;}
.css_hr_reclamo10_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_hr_reclamo10_grid_line {vertical-align: top;text-align: left;}
.css_hr_fecha_reclamacion10_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_hr_fecha_reclamacion10_grid_line {vertical-align: top;text-align: left;}
.css_hr_motivo_no_reclamacion10_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_hr_motivo_no_reclamacion10_grid_line {vertical-align: top;text-align: left;}
.css_hr_mes11_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_hr_mes11_grid_line {vertical-align: top;text-align: left;}
.css_hr_reclamo11_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_hr_reclamo11_grid_line {vertical-align: top;text-align: left;}
.css_hr_fecha_reclamacion11_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_hr_fecha_reclamacion11_grid_line {vertical-align: top;text-align: left;}
.css_hr_motivo_no_reclamacion11_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_hr_motivo_no_reclamacion11_grid_line {vertical-align: top;text-align: left;}
.css_hr_mes12_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_hr_mes12_grid_line {vertical-align: top;text-align: left;}
.css_hr_reclamo12_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_hr_reclamo12_grid_line {vertical-align: top;text-align: left;}
.css_hr_fecha_reclamacion12_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_hr_fecha_reclamacion12_grid_line {vertical-align: top;text-align: left;}
.css_hr_motivo_no_reclamacion12_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_hr_motivo_no_reclamacion12_grid_line {vertical-align: top;text-align: left;}
