.css_p_id_paciente_det_label {text-align: right;vertical-align: middle;}
.css_p_id_paciente_det_line {height:0px;text-align: right;}
.css_g_logro_comunicacion_gestion_det_label {text-align: right;vertical-align: middle;}
.css_g_logro_comunicacion_gestion_det_line {height:0px;text-align: right;}
.css_g_fecha_comunicacion_det_label {text-align: right;vertical-align: middle;}
.css_g_fecha_comunicacion_det_line {height:0px;text-align: right;}
.css_g_autor_gestion_det_label {text-align: right;vertical-align: middle;}
.css_g_autor_gestion_det_line {height:0px;text-align: right;}
.css_p_pais_paciente_det_label {text-align: right;vertical-align: middle;}
.css_p_pais_paciente_det_line {height:0px;text-align: right;}
.css_p_ciudad_paciente_det_label {text-align: right;vertical-align: middle;}
.css_p_ciudad_paciente_det_line {height:0px;text-align: right;}
.css_p_estado_paciente_det_label {text-align: right;vertical-align: middle;}
.css_p_estado_paciente_det_line {height:0px;text-align: right;}
.css_p_status_paciente_det_label {text-align: right;vertical-align: middle;}
.css_p_status_paciente_det_line {height:0px;text-align: right;}
.css_p_fecha_activacion_paciente_det_label {text-align: right;vertical-align: middle;}
.css_p_fecha_activacion_paciente_det_line {height:0px;text-align: right;}
.css_p_codigo_xofigo_det_label {text-align: right;vertical-align: middle;}
.css_p_codigo_xofigo_det_line {height:0px;text-align: right;}
.css_t_producto_tratamiento_det_label {text-align: right;vertical-align: middle;}
.css_t_producto_tratamiento_det_line {height:0px;text-align: right;}
.css_t_nombre_referencia_det_label {text-align: right;vertical-align: middle;}
.css_t_nombre_referencia_det_line {height:0px;text-align: right;}
.css_t_dosis_tratamiento_det_label {text-align: right;vertical-align: middle;}
.css_t_dosis_tratamiento_det_line {height:0px;text-align: right;}
.css_g_numero_cajas_det_label {text-align: right;vertical-align: middle;}
.css_g_numero_cajas_det_line {height:0px;text-align: right;}
.css_t_asegurador_tratamiento_det_label {text-align: right;vertical-align: middle;}
.css_t_asegurador_tratamiento_det_line {height:0px;text-align: right;}
.css_t_operador_logistico_tratamiento_det_label {text-align: right;vertical-align: middle;}
.css_t_operador_logistico_tratamiento_det_line {height:0px;text-align: right;}
.css_t_punto_entrega_det_label {text-align: right;vertical-align: middle;}
.css_t_punto_entrega_det_line {height:0px;text-align: right;}
.css_g_reclamo_gestion_det_label {text-align: right;vertical-align: middle;}
.css_g_reclamo_gestion_det_line {height:0px;text-align: right;}
.css_g_fecha_reclamacion_gestion_det_label {text-align: right;vertical-align: middle;}
.css_g_fecha_reclamacion_gestion_det_line {height:0px;text-align: right;}
.css_g_causa_no_reclamacion_gestion_det_label {text-align: right;vertical-align: middle;}
.css_g_causa_no_reclamacion_gestion_det_line {height:0px;text-align: right;}
.css_hr_id_historial_reclamacion_det_label {text-align: right;vertical-align: middle;}
.css_hr_id_historial_reclamacion_det_line {height:0px;text-align: right;}
.css_hr_anio_historial_reclamacion_det_label {text-align: right;vertical-align: middle;}
.css_hr_anio_historial_reclamacion_det_line {height:0px;text-align: right;}
.css_hr_mes1_det_label {text-align: right;vertical-align: middle;}
.css_hr_mes1_det_line {height:0px;text-align: right;}
.css_hr_reclamo1_det_label {text-align: right;vertical-align: middle;}
.css_hr_reclamo1_det_line {height:0px;text-align: right;}
.css_hr_fecha_reclamacion1_det_label {text-align: right;vertical-align: middle;}
.css_hr_fecha_reclamacion1_det_line {height:0px;text-align: right;}
.css_hr_motivo_no_reclamacion1_det_label {text-align: right;vertical-align: middle;}
.css_hr_motivo_no_reclamacion1_det_line {height:0px;text-align: right;}
.css_hr_mes2_det_label {text-align: right;vertical-align: middle;}
.css_hr_mes2_det_line {height:0px;text-align: right;}
.css_hr_reclamo2_det_label {text-align: right;vertical-align: middle;}
.css_hr_reclamo2_det_line {height:0px;text-align: right;}
.css_hr_fecha_reclamacion2_det_label {text-align: right;vertical-align: middle;}
.css_hr_fecha_reclamacion2_det_line {height:0px;text-align: right;}
.css_hr_motivo_no_reclamacion2_det_label {text-align: right;vertical-align: middle;}
.css_hr_motivo_no_reclamacion2_det_line {height:0px;text-align: right;}
.css_hr_mes3_det_label {text-align: right;vertical-align: middle;}
.css_hr_mes3_det_line {height:0px;text-align: right;}
.css_hr_reclamo3_det_label {text-align: right;vertical-align: middle;}
.css_hr_reclamo3_det_line {height:0px;text-align: right;}
.css_hr_fecha_reclamacion3_det_label {text-align: right;vertical-align: middle;}
.css_hr_fecha_reclamacion3_det_line {height:0px;text-align: right;}
.css_hr_motivo_no_reclamacion3_det_label {text-align: right;vertical-align: middle;}
.css_hr_motivo_no_reclamacion3_det_line {height:0px;text-align: right;}
.css_hr_mes4_det_label {text-align: right;vertical-align: middle;}
.css_hr_mes4_det_line {height:0px;text-align: right;}
.css_hr_reclamo4_det_label {text-align: right;vertical-align: middle;}
.css_hr_reclamo4_det_line {height:0px;text-align: right;}
.css_hr_fecha_reclamacion4_det_label {text-align: right;vertical-align: middle;}
.css_hr_fecha_reclamacion4_det_line {height:0px;text-align: right;}
.css_hr_motivo_no_reclamacion4_det_label {text-align: right;vertical-align: middle;}
.css_hr_motivo_no_reclamacion4_det_line {height:0px;text-align: right;}
.css_hr_mes5_det_label {text-align: right;vertical-align: middle;}
.css_hr_mes5_det_line {height:0px;text-align: right;}
.css_hr_reclamo5_det_label {text-align: right;vertical-align: middle;}
.css_hr_reclamo5_det_line {height:0px;text-align: right;}
.css_hr_fecha_reclamacion5_det_label {text-align: right;vertical-align: middle;}
.css_hr_fecha_reclamacion5_det_line {height:0px;text-align: right;}
.css_hr_motivo_no_reclamacion5_det_label {text-align: right;vertical-align: middle;}
.css_hr_motivo_no_reclamacion5_det_line {height:0px;text-align: right;}
.css_hr_mes6_det_label {text-align: right;vertical-align: middle;}
.css_hr_mes6_det_line {height:0px;text-align: right;}
.css_hr_reclamo6_det_label {text-align: right;vertical-align: middle;}
.css_hr_reclamo6_det_line {height:0px;text-align: right;}
.css_hr_fecha_reclamacion6_det_label {text-align: right;vertical-align: middle;}
.css_hr_fecha_reclamacion6_det_line {height:0px;text-align: right;}
.css_hr_motivo_no_reclamacion6_det_label {text-align: right;vertical-align: middle;}
.css_hr_motivo_no_reclamacion6_det_line {height:0px;text-align: right;}
.css_hr_mes7_det_label {text-align: right;vertical-align: middle;}
.css_hr_mes7_det_line {height:0px;text-align: right;}
.css_hr_reclamo7_det_label {text-align: right;vertical-align: middle;}
.css_hr_reclamo7_det_line {height:0px;text-align: right;}
.css_hr_fecha_reclamacion7_det_label {text-align: right;vertical-align: middle;}
.css_hr_fecha_reclamacion7_det_line {height:0px;text-align: right;}
.css_hr_motivo_no_reclamacion7_det_label {text-align: right;vertical-align: middle;}
.css_hr_motivo_no_reclamacion7_det_line {height:0px;text-align: right;}
.css_hr_mes8_det_label {text-align: right;vertical-align: middle;}
.css_hr_mes8_det_line {height:0px;text-align: right;}
.css_hr_reclamo8_det_label {text-align: right;vertical-align: middle;}
.css_hr_reclamo8_det_line {height:0px;text-align: right;}
.css_hr_fecha_reclamacion8_det_label {text-align: right;vertical-align: middle;}
.css_hr_fecha_reclamacion8_det_line {height:0px;text-align: right;}
.css_hr_motivo_no_reclamacion8_det_label {text-align: right;vertical-align: middle;}
.css_hr_motivo_no_reclamacion8_det_line {height:0px;text-align: right;}
.css_hr_mes9_det_label {text-align: right;vertical-align: middle;}
.css_hr_mes9_det_line {height:0px;text-align: right;}
.css_hr_reclamo9_det_label {text-align: right;vertical-align: middle;}
.css_hr_reclamo9_det_line {height:0px;text-align: right;}
.css_hr_fecha_reclamacion9_det_label {text-align: right;vertical-align: middle;}
.css_hr_fecha_reclamacion9_det_line {height:0px;text-align: right;}
.css_hr_motivo_no_reclamacion9_det_label {text-align: right;vertical-align: middle;}
.css_hr_motivo_no_reclamacion9_det_line {height:0px;text-align: right;}
.css_hr_mes10_det_label {text-align: right;vertical-align: middle;}
.css_hr_mes10_det_line {height:0px;text-align: right;}
.css_hr_reclamo10_det_label {text-align: right;vertical-align: middle;}
.css_hr_reclamo10_det_line {height:0px;text-align: right;}
.css_hr_fecha_reclamacion10_det_label {text-align: right;vertical-align: middle;}
.css_hr_fecha_reclamacion10_det_line {height:0px;text-align: right;}
.css_hr_motivo_no_reclamacion10_det_label {text-align: right;vertical-align: middle;}
.css_hr_motivo_no_reclamacion10_det_line {height:0px;text-align: right;}
.css_hr_mes11_det_label {text-align: right;vertical-align: middle;}
.css_hr_mes11_det_line {height:0px;text-align: right;}
.css_hr_reclamo11_det_label {text-align: right;vertical-align: middle;}
.css_hr_reclamo11_det_line {height:0px;text-align: right;}
.css_hr_fecha_reclamacion11_det_label {text-align: right;vertical-align: middle;}
.css_hr_fecha_reclamacion11_det_line {height:0px;text-align: right;}
.css_hr_motivo_no_reclamacion11_det_label {text-align: right;vertical-align: middle;}
.css_hr_motivo_no_reclamacion11_det_line {height:0px;text-align: right;}
.css_hr_mes12_det_label {text-align: right;vertical-align: middle;}
.css_hr_mes12_det_line {height:0px;text-align: right;}
.css_hr_reclamo12_det_label {text-align: right;vertical-align: middle;}
.css_hr_reclamo12_det_line {height:0px;text-align: right;}
.css_hr_fecha_reclamacion12_det_label {text-align: right;vertical-align: middle;}
.css_hr_fecha_reclamacion12_det_line {height:0px;text-align: right;}
.css_hr_motivo_no_reclamacion12_det_label {text-align: right;vertical-align: middle;}
.css_hr_motivo_no_reclamacion12_det_line {height:0px;text-align: right;}
