.css_bp_id_paciente_det_label {text-align: left;vertical-align: middle;}
.css_bp_id_paciente_det_line {height:0px;text-align: left;}
.css_bp_pais_paciente_det_label {text-align: left;vertical-align: middle;}
.css_bp_pais_paciente_det_line {height:0px;text-align: left;}
.css_bp_ciudad_paciente_det_label {text-align: left;vertical-align: middle;}
.css_bp_ciudad_paciente_det_line {height:0px;text-align: left;}
.css_bp_estado_paciente_det_label {text-align: left;vertical-align: middle;}
.css_bp_estado_paciente_det_line {height:0px;text-align: left;}
.css_bp_status_paciente_det_label {text-align: left;vertical-align: middle;}
.css_bp_status_paciente_det_line {height:0px;text-align: left;}
.css_bp_fecha_activacion_paciente_det_label {text-align: left;vertical-align: middle;}
.css_bp_fecha_activacion_paciente_det_line {height:0px;text-align: left;}
.css_bp_fecha_retiro_paciente_det_label {text-align: left;vertical-align: middle;}
.css_bp_fecha_retiro_paciente_det_line {height:0px;text-align: left;}
.css_bp_motivo_retiro_paciente_det_label {text-align: left;vertical-align: middle;}
.css_bp_motivo_retiro_paciente_det_line {height:0px;text-align: left;}
.css_bp_codigo_xofigo_det_label {text-align: left;vertical-align: middle;}
.css_bp_codigo_xofigo_det_line {height:0px;text-align: left;}
.css_bp_id_ultima_gestion_det_label {text-align: left;vertical-align: middle;}
.css_bp_id_ultima_gestion_det_line {height:0px;text-align: left;}
.css_bp_codigo_xofigo_1_det_label {text-align: left;vertical-align: middle;}
.css_bp_codigo_xofigo_1_det_line {height:0px;text-align: left;}
.css_bp_id_ultima_gestion_1_det_label {text-align: left;vertical-align: middle;}
.css_bp_id_ultima_gestion_1_det_line {height:0px;text-align: left;}
.css_bt_id_tratamiento_det_label {text-align: left;vertical-align: middle;}
.css_bt_id_tratamiento_det_line {height:0px;text-align: left;}
.css_bt_producto_tratamiento_det_label {text-align: left;vertical-align: middle;}
.css_bt_producto_tratamiento_det_line {height:0px;text-align: left;}
.css_bt_nombre_referencia_det_label {text-align: left;vertical-align: middle;}
.css_bt_nombre_referencia_det_line {height:0px;text-align: left;}
.css_bt_dosis_tratamiento_det_label {text-align: left;vertical-align: middle;}
.css_bt_dosis_tratamiento_det_line {height:0px;text-align: left;}
.css_bt_fecha_inicio_terapia_tratamiento_det_label {text-align: left;vertical-align: middle;}
.css_bt_fecha_inicio_terapia_tratamiento_det_line {height:0px;text-align: left;}
.css_bt_asegurador_tratamiento_det_label {text-align: left;vertical-align: middle;}
.css_bt_asegurador_tratamiento_det_line {height:0px;text-align: left;}
.css_bt_operador_logistico_tratamiento_det_label {text-align: left;vertical-align: middle;}
.css_bt_operador_logistico_tratamiento_det_line {height:0px;text-align: left;}
.css_bt_punto_entrega_det_label {text-align: left;vertical-align: middle;}
.css_bt_punto_entrega_det_line {height:0px;text-align: left;}
.css_bt_ips_atiende_tratamiento_det_label {text-align: left;vertical-align: middle;}
.css_bt_ips_atiende_tratamiento_det_line {height:0px;text-align: left;}
.css_bt_regimen_tratamiento_det_label {text-align: left;vertical-align: middle;}
.css_bt_regimen_tratamiento_det_line {height:0px;text-align: left;}
.css_bt_medico_tratamiento_det_label {text-align: left;vertical-align: middle;}
.css_bt_medico_tratamiento_det_line {height:0px;text-align: left;}
.css_bt_fecha_ultima_reclamacion_tratamiento_det_label {text-align: left;vertical-align: middle;}
.css_bt_fecha_ultima_reclamacion_tratamiento_det_line {height:0px;text-align: left;}
.css_bt_clasificacion_patologica_tratamiento_det_label {text-align: left;vertical-align: middle;}
.css_bt_clasificacion_patologica_tratamiento_det_line {height:0px;text-align: left;}
.css_bt_tratamiento_previo_det_label {text-align: left;vertical-align: middle;}
.css_bt_tratamiento_previo_det_line {height:0px;text-align: left;}
.css_bt_id_paciente_fk_det_label {text-align: left;vertical-align: middle;}
.css_bt_id_paciente_fk_det_line {height:0px;text-align: left;}
.css_bg_id_gestion_det_label {text-align: left;vertical-align: middle;}
.css_bg_id_gestion_det_line {height:0px;text-align: left;}
.css_bg_logro_comunicacion_gestion_det_label {text-align: left;vertical-align: middle;}
.css_bg_logro_comunicacion_gestion_det_line {height:0px;text-align: left;}
.css_bg_causa_no_reclamacion_gestion_det_label {text-align: left;vertical-align: middle;}
.css_bg_causa_no_reclamacion_gestion_det_line {height:0px;text-align: left;}
.css_bg_reclamo_gestion_det_label {text-align: left;vertical-align: middle;}
.css_bg_reclamo_gestion_det_line {height:0px;text-align: left;}
.css_bg_fecha_reclamacion_gestion_det_label {text-align: left;vertical-align: middle;}
.css_bg_fecha_reclamacion_gestion_det_line {height:0px;text-align: left;}
.css_bg_fecha_comunicacion_det_label {text-align: left;vertical-align: middle;}
.css_bg_fecha_comunicacion_det_line {height:0px;text-align: left;}
.css_bg_fecha_programada_gestion_det_label {text-align: left;vertical-align: middle;}
.css_bg_fecha_programada_gestion_det_line {height:0px;text-align: left;}
.css_bg_autor_gestion_det_label {text-align: left;vertical-align: middle;}
.css_bg_autor_gestion_det_line {height:0px;text-align: left;}
.css_bg_descripcion_comunicacion_gestion_det_label {text-align: left;vertical-align: middle;}
.css_bg_descripcion_comunicacion_gestion_det_line {height:0px;text-align: left;}
.css_bg_numero_cajas_det_label {text-align: left;vertical-align: middle;}
.css_bg_numero_cajas_det_line {height:0px;text-align: left;}
