.css_c_id_clasificacion_patologica_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_c_id_clasificacion_patologica_grid_line {vertical-align: top;text-align: right;}
.css_c_nombre_referencia_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_c_nombre_referencia_grid_line {vertical-align: top;text-align: right;}
.css_c_nombre_clasificacion_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_c_nombre_clasificacion_grid_line {vertical-align: top;text-align: right;}
.css_p_id_paciente_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_p_id_paciente_grid_line {vertical-align: top;text-align: right;}
.css_p_estado_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_p_estado_paciente_grid_line {vertical-align: top;text-align: right;}
.css_p_fecha_activacion_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_p_fecha_activacion_paciente_grid_line {vertical-align: top;text-align: right;}
.css_p_fecha_retiro_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_p_fecha_retiro_paciente_grid_line {vertical-align: top;text-align: right;}
.css_p_motivo_retiro_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_p_motivo_retiro_paciente_grid_line {vertical-align: top;text-align: right;}
.css_p_observacion_motivo_retiro_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_p_observacion_motivo_retiro_paciente_grid_line {vertical-align: top;text-align: right;}
.css_p_identificacion_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_p_identificacion_paciente_grid_line {vertical-align: top;text-align: right;}
.css_p_nombre_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_p_nombre_paciente_grid_line {vertical-align: top;text-align: right;}
.css_p_apellido_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_p_apellido_paciente_grid_line {vertical-align: top;text-align: right;}
.css_p_correo_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_p_correo_paciente_grid_line {vertical-align: top;text-align: right;}
.css_p_direccion_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_p_direccion_paciente_grid_line {vertical-align: top;text-align: right;}
.css_p_barrio_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_p_barrio_paciente_grid_line {vertical-align: top;text-align: right;}
.css_p_pais_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_p_pais_paciente_grid_line {vertical-align: top;text-align: right;}
.css_p_ciudad_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_p_ciudad_paciente_grid_line {vertical-align: top;text-align: right;}
.css_p_id_ultima_gestion_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_p_id_ultima_gestion_grid_line {vertical-align: top;text-align: right;}
.css_p_usuario_creacion_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_p_usuario_creacion_grid_line {vertical-align: top;text-align: right;}
.css_p_id_ultima_gestion_1_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_p_id_ultima_gestion_1_grid_line {vertical-align: top;text-align: right;}
.css_p_usuario_creacion_1_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_p_usuario_creacion_1_grid_line {vertical-align: top;text-align: right;}
