.css_bp_id_paciente_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_bp_id_paciente_grid_line {vertical-align: top;text-align: right;}
.css_bp_pais_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bp_pais_paciente_grid_line {vertical-align: top;text-align: left;}
.css_bp_ciudad_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bp_ciudad_paciente_grid_line {vertical-align: top;text-align: left;}
.css_bp_estado_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bp_estado_paciente_grid_line {vertical-align: top;text-align: left;}
.css_bp_status_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bp_status_paciente_grid_line {vertical-align: top;text-align: left;}
.css_bp_fecha_activacion_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bp_fecha_activacion_paciente_grid_line {vertical-align: top;text-align: left;}
.css_bp_fecha_retiro_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bp_fecha_retiro_paciente_grid_line {vertical-align: top;text-align: left;}
.css_bp_motivo_retiro_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bp_motivo_retiro_paciente_grid_line {vertical-align: top;text-align: left;}
.css_bp_codigo_xofigo_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_bp_codigo_xofigo_grid_line {vertical-align: top;text-align: right;}
.css_bp_id_ultima_gestion_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_bp_id_ultima_gestion_grid_line {vertical-align: top;text-align: right;}
.css_bp_codigo_xofigo_1_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_bp_codigo_xofigo_1_grid_line {vertical-align: top;text-align: right;}
.css_bp_id_ultima_gestion_1_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_bp_id_ultima_gestion_1_grid_line {vertical-align: top;text-align: right;}
.css_bt_id_tratamiento_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_bt_id_tratamiento_grid_line {vertical-align: top;text-align: right;}
.css_bt_producto_tratamiento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bt_producto_tratamiento_grid_line {vertical-align: top;text-align: left;}
.css_bt_nombre_referencia_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bt_nombre_referencia_grid_line {vertical-align: top;text-align: left;}
.css_bt_dosis_tratamiento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bt_dosis_tratamiento_grid_line {vertical-align: top;text-align: left;}
.css_bt_fecha_inicio_terapia_tratamiento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bt_fecha_inicio_terapia_tratamiento_grid_line {vertical-align: top;text-align: left;}
.css_bt_asegurador_tratamiento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bt_asegurador_tratamiento_grid_line {vertical-align: top;text-align: left;}
.css_bt_operador_logistico_tratamiento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bt_operador_logistico_tratamiento_grid_line {vertical-align: top;text-align: left;}
.css_bt_punto_entrega_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bt_punto_entrega_grid_line {vertical-align: top;text-align: left;}
.css_bt_ips_atiende_tratamiento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bt_ips_atiende_tratamiento_grid_line {vertical-align: top;text-align: left;}
.css_bt_regimen_tratamiento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bt_regimen_tratamiento_grid_line {vertical-align: top;text-align: left;}
.css_bt_medico_tratamiento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bt_medico_tratamiento_grid_line {vertical-align: top;text-align: left;}
.css_bt_fecha_ultima_reclamacion_tratamiento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bt_fecha_ultima_reclamacion_tratamiento_grid_line {vertical-align: top;text-align: left;}
.css_bt_clasificacion_patologica_tratamiento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bt_clasificacion_patologica_tratamiento_grid_line {vertical-align: top;text-align: left;}
.css_bt_tratamiento_previo_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bt_tratamiento_previo_grid_line {vertical-align: top;text-align: left;}
.css_bt_id_paciente_fk_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_bt_id_paciente_fk_grid_line {vertical-align: top;text-align: right;}
.css_bg_id_gestion_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_bg_id_gestion_grid_line {vertical-align: top;text-align: right;}
.css_bg_logro_comunicacion_gestion_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bg_logro_comunicacion_gestion_grid_line {vertical-align: top;text-align: left;}
.css_bg_causa_no_reclamacion_gestion_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bg_causa_no_reclamacion_gestion_grid_line {vertical-align: top;text-align: left;}
.css_bg_reclamo_gestion_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bg_reclamo_gestion_grid_line {vertical-align: top;text-align: left;}
.css_bg_fecha_reclamacion_gestion_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bg_fecha_reclamacion_gestion_grid_line {vertical-align: top;text-align: left;}
.css_bg_fecha_comunicacion_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bg_fecha_comunicacion_grid_line {vertical-align: top;text-align: left;}
.css_bg_fecha_programada_gestion_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bg_fecha_programada_gestion_grid_line {vertical-align: top;text-align: left;}
.css_bg_autor_gestion_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bg_autor_gestion_grid_line {vertical-align: top;text-align: left;}
.css_bg_descripcion_comunicacion_gestion_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bg_descripcion_comunicacion_gestion_grid_line {vertical-align: top;text-align: left;}
.css_bg_numero_cajas_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bg_numero_cajas_grid_line {vertical-align: top;text-align: left;}
