.css_id_gestion_det_label {text-align: right;vertical-align: middle;}
.css_id_gestion_det_line {height:0px;text-align: right;}
.css_motivo_comunicacion_gestion_det_label {text-align: right;vertical-align: middle;}
.css_motivo_comunicacion_gestion_det_line {height:0px;text-align: right;}
.css_medio_contacto_gestion_det_label {text-align: right;vertical-align: middle;}
.css_medio_contacto_gestion_det_line {height:0px;text-align: right;}
.css_tipo_llamada_gestion_det_label {text-align: right;vertical-align: middle;}
.css_tipo_llamada_gestion_det_line {height:0px;text-align: right;}
.css_logro_comunicacion_gestion_det_label {text-align: right;vertical-align: middle;}
.css_logro_comunicacion_gestion_det_line {height:0px;text-align: right;}
.css_motivo_no_comunicacion_gestion_det_label {text-align: right;vertical-align: middle;}
.css_motivo_no_comunicacion_gestion_det_line {height:0px;text-align: right;}
.css_numero_intentos_gestion_det_label {text-align: right;vertical-align: middle;}
.css_numero_intentos_gestion_det_line {height:0px;text-align: right;}
.css_esperado_gestion_det_label {text-align: right;vertical-align: middle;}
.css_esperado_gestion_det_line {height:0px;text-align: right;}
.css_estado_ctc_gestion_det_label {text-align: right;vertical-align: middle;}
.css_estado_ctc_gestion_det_line {height:0px;text-align: right;}
.css_dificultad_acceso_gestion_det_label {text-align: right;vertical-align: middle;}
.css_dificultad_acceso_gestion_det_line {height:0px;text-align: right;}
.css_tipo_dificultad_gestion_det_label {text-align: right;vertical-align: middle;}
.css_tipo_dificultad_gestion_det_line {height:0px;text-align: right;}
.css_envios_gestion_det_label {text-align: right;vertical-align: middle;}
.css_envios_gestion_det_line {height:0px;text-align: right;}
.css_medicamentos_gestion_det_label {text-align: right;vertical-align: middle;}
.css_medicamentos_gestion_det_line {height:0px;text-align: right;}
.css_tipo_envio_gestion_det_label {text-align: right;vertical-align: middle;}
.css_tipo_envio_gestion_det_line {height:0px;text-align: right;}
.css_genera_solicitud_gestion_det_label {text-align: right;vertical-align: middle;}
.css_genera_solicitud_gestion_det_line {height:0px;text-align: right;}
.css_fecha_proxima_llamada_det_label {text-align: right;vertical-align: middle;}
.css_fecha_proxima_llamada_det_line {height:0px;text-align: right;}
.css_motivo_proxima_llamada_det_label {text-align: right;vertical-align: middle;}
.css_motivo_proxima_llamada_det_line {height:0px;text-align: right;}
.css_observacion_proxima_llamada_det_label {text-align: right;vertical-align: middle;}
.css_observacion_proxima_llamada_det_line {height:0px;text-align: right;}
.css_fecha_reclamacion_gestion_det_label {text-align: right;vertical-align: middle;}
.css_fecha_reclamacion_gestion_det_line {height:0px;text-align: right;}
.css_autor_gestion_det_label {text-align: right;vertical-align: middle;}
.css_autor_gestion_det_line {height:0px;text-align: right;}
.css_nota_det_label {text-align: right;vertical-align: middle;}
.css_nota_det_line {height:0px;text-align: right;}
.css_descripcion_comunicacion_gestion_det_label {text-align: right;vertical-align: middle;}
.css_descripcion_comunicacion_gestion_det_line {height:0px;text-align: right;}
.css_fecha_programada_gestion_det_label {text-align: right;vertical-align: middle;}
.css_fecha_programada_gestion_det_line {height:0px;text-align: right;}
.css_usuario_asigando_det_label {text-align: right;vertical-align: middle;}
.css_usuario_asigando_det_line {height:0px;text-align: right;}
.css_id_paciente_fk2_det_label {text-align: right;vertical-align: middle;}
.css_id_paciente_fk2_det_line {height:0px;text-align: right;}
.css_fecha_comunicacion_det_label {text-align: right;vertical-align: middle;}
.css_fecha_comunicacion_det_line {height:0px;text-align: right;}
.css_estado_gestion_det_label {text-align: right;vertical-align: middle;}
.css_estado_gestion_det_line {height:0px;text-align: right;}
.css_autor_modificacion_det_label {text-align: right;vertical-align: middle;}
.css_autor_modificacion_det_line {height:0px;text-align: right;}
.css_fecha_subido_det_label {text-align: right;vertical-align: middle;}
.css_fecha_subido_det_line {height:0px;text-align: right;}
.css_codigo_argus_det_label {text-align: right;vertical-align: middle;}
.css_codigo_argus_det_line {height:0px;text-align: right;}
