.css_be_id_edu_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_be_id_edu_grid_line {vertical-align: top;text-align: right;}
.css_bp_id_paciente_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_bp_id_paciente_grid_line {vertical-align: top;text-align: right;}
.css_bp_nombre_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bp_nombre_paciente_grid_line {vertical-align: top;text-align: right;}
.css_bp_apellido_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bp_apellido_paciente_grid_line {vertical-align: top;text-align: right;}
.css_bp_identificacion_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bp_identificacion_paciente_grid_line {vertical-align: top;text-align: right;}
.css_be_user_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_be_user_grid_line {vertical-align: top;text-align: right;}
.css_be_se_brindo_edu_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_be_se_brindo_edu_grid_line {vertical-align: top;text-align: right;}
.css_be_tema_si_edu_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_be_tema_si_edu_grid_line {vertical-align: top;text-align: right;}
.css_be_fecha_si_edu_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_be_fecha_si_edu_grid_line {vertical-align: top;text-align: center;}
.css_be_motivo_no_edu_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_be_motivo_no_edu_grid_line {vertical-align: top;text-align: right;}
.css_be_fecha_registro_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_be_fecha_registro_grid_line {vertical-align: top;text-align: center;}
.css_be_id_paci_fk_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_be_id_paci_fk_grid_line {vertical-align: top;text-align: right;}
