.css_bp_fecha_activacion_paciente_det_label {text-align: left;vertical-align: middle;}
.css_bp_fecha_activacion_paciente_det_line {height:0px;text-align: left;}
.css_bp_nombre_paciente_det_label {text-align: left;vertical-align: middle;}
.css_bp_nombre_paciente_det_line {height:0px;text-align: left;}
.css_bp_apellido_paciente_det_label {text-align: left;vertical-align: middle;}
.css_bp_apellido_paciente_det_line {height:0px;text-align: left;}
.css_bp_telefono_paciente_det_label {text-align: left;vertical-align: middle;}
.css_bp_telefono_paciente_det_line {height:0px;text-align: left;}
.css_bp_telefono2_paciente_det_label {text-align: left;vertical-align: middle;}
.css_bp_telefono2_paciente_det_line {height:0px;text-align: left;}
.css_bp_telefono3_paciente_det_label {text-align: left;vertical-align: middle;}
.css_bp_telefono3_paciente_det_line {height:0px;text-align: left;}
.css_bt_producto_tratamiento_det_label {text-align: left;vertical-align: middle;}
.css_bt_producto_tratamiento_det_line {height:0px;text-align: left;}
.css_bg_descripcion_comunicacion_gestion_det_label {text-align: left;vertical-align: middle;}
.css_bg_descripcion_comunicacion_gestion_det_line {height:0px;text-align: left;}
.css_bg_autor_gestion_det_label {text-align: left;vertical-align: middle;}
.css_bg_autor_gestion_det_line {height:0px;text-align: left;}
.css_bp_id_paciente_det_label {text-align: left;vertical-align: middle;}
.css_bp_id_paciente_det_line {height:0px;text-align: left;}
.css_bg_evento_adverso_gestion_det_label {text-align: left;vertical-align: middle;}
.css_bg_evento_adverso_gestion_det_line {height:0px;text-align: left;}
