.css_e_id_edu_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_e_id_edu_grid_line {vertical-align: top;text-align: right;}
.css_e_user_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_e_user_grid_line {vertical-align: top;text-align: right;}
.css_e_id_paci_fk_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_e_id_paci_fk_grid_line {vertical-align: top;text-align: right;}
.css_e_se_brindo_edu_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_e_se_brindo_edu_grid_line {vertical-align: top;text-align: right;}
.css_e_tema_si_edu_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_e_tema_si_edu_grid_line {vertical-align: top;text-align: right;}
.css_e_fecha_si_edu_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_e_fecha_si_edu_grid_line {vertical-align: top;text-align: center;}
.css_e_motivo_no_edu_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_e_motivo_no_edu_grid_line {vertical-align: top;text-align: right;}
.css_e_fecha_registro_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_e_fecha_registro_grid_line {vertical-align: top;text-align: center;}
.css_p_id_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_p_id_paciente_grid_line {vertical-align: top;text-align: right;}
.css_p_pais_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_p_pais_paciente_grid_line {vertical-align: top;text-align: right;}
.css_p_identificacion_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_p_identificacion_paciente_grid_line {vertical-align: top;text-align: right;}
.css_p_nombre_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_p_nombre_paciente_grid_line {vertical-align: top;text-align: right;}
.css_p_apellido_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_p_apellido_paciente_grid_line {vertical-align: top;text-align: right;}
