.css_e_id_edu_det_label {text-align: left;vertical-align: middle;}
.css_e_id_edu_det_line {height:0px;text-align: left;}
.css_e_user_det_label {text-align: left;vertical-align: middle;}
.css_e_user_det_line {height:0px;text-align: left;}
.css_e_id_paci_fk_det_label {text-align: left;vertical-align: middle;}
.css_e_id_paci_fk_det_line {height:0px;text-align: left;}
.css_e_se_brindo_edu_det_label {text-align: left;vertical-align: middle;}
.css_e_se_brindo_edu_det_line {height:0px;text-align: left;}
.css_e_tema_si_edu_det_label {text-align: left;vertical-align: middle;}
.css_e_tema_si_edu_det_line {height:0px;text-align: left;}
.css_e_fecha_si_edu_det_label {text-align: left;vertical-align: middle;}
.css_e_fecha_si_edu_det_line {height:0px;text-align: left;}
.css_e_motivo_no_edu_det_label {text-align: left;vertical-align: middle;}
.css_e_motivo_no_edu_det_line {height:0px;text-align: left;}
.css_e_fecha_registro_det_label {text-align: left;vertical-align: middle;}
.css_e_fecha_registro_det_line {height:0px;text-align: left;}
.css_p_id_paciente_det_label {text-align: left;vertical-align: middle;}
.css_p_id_paciente_det_line {height:0px;text-align: left;}
.css_p_identificacion_paciente_det_label {text-align: left;vertical-align: middle;}
.css_p_identificacion_paciente_det_line {height:0px;text-align: left;}
.css_p_nombre_paciente_det_label {text-align: left;vertical-align: middle;}
.css_p_nombre_paciente_det_line {height:0px;text-align: left;}
.css_p_apellido_paciente_det_label {text-align: left;vertical-align: middle;}
.css_p_apellido_paciente_det_line {height:0px;text-align: left;}
.css_p_pais_paciente_det_label {text-align: left;vertical-align: middle;}
.css_p_pais_paciente_det_line {height:0px;text-align: left;}
