.css_p_fecha_activacion_paciente_det_label {text-align: right;vertical-align: middle;}
.css_p_fecha_activacion_paciente_det_line {height:0px;text-align: right;}
.css_p_nombre_paciente_det_label {text-align: right;vertical-align: middle;}
.css_p_nombre_paciente_det_line {height:0px;text-align: right;}
.css_p_apellido_paciente_det_label {text-align: right;vertical-align: middle;}
.css_p_apellido_paciente_det_line {height:0px;text-align: right;}
.css_p_pais_paciente_det_label {text-align: right;vertical-align: middle;}
.css_p_pais_paciente_det_line {height:0px;text-align: right;}
.css_p_telefono_paciente_det_label {text-align: right;vertical-align: middle;}
.css_p_telefono_paciente_det_line {height:0px;text-align: right;}
.css_p_telefono2_paciente_det_label {text-align: right;vertical-align: middle;}
.css_p_telefono2_paciente_det_line {height:0px;text-align: right;}
.css_p_telefono3_paciente_det_label {text-align: right;vertical-align: middle;}
.css_p_telefono3_paciente_det_line {height:0px;text-align: right;}
.css_t_producto_tratamiento_det_label {text-align: right;vertical-align: middle;}
.css_t_producto_tratamiento_det_line {height:0px;text-align: right;}
.css_g_descripcion_comunicacion_gestion_det_label {text-align: right;vertical-align: middle;}
.css_g_descripcion_comunicacion_gestion_det_line {height:0px;text-align: right;}
.css_g_autor_gestion_det_label {text-align: right;vertical-align: middle;}
.css_g_autor_gestion_det_line {height:0px;text-align: right;}
.css_p_id_paciente_det_label {text-align: right;vertical-align: middle;}
.css_p_id_paciente_det_line {height:0px;text-align: right;}
.css_g_evento_adverso_gestion_det_label {text-align: right;vertical-align: middle;}
.css_g_evento_adverso_gestion_det_line {height:0px;text-align: right;}
