.css_p_fecha_activacion_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_p_fecha_activacion_paciente_grid_line {vertical-align: top;text-align: right;}
.css_p_nombre_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_p_nombre_paciente_grid_line {vertical-align: top;text-align: right;}
.css_p_apellido_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_p_apellido_paciente_grid_line {vertical-align: top;text-align: right;}
.css_p_pais_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_p_pais_paciente_grid_line {vertical-align: top;text-align: right;}
.css_p_telefono_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_p_telefono_paciente_grid_line {vertical-align: top;text-align: right;}
.css_p_telefono2_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_p_telefono2_paciente_grid_line {vertical-align: top;text-align: right;}
.css_p_telefono3_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_p_telefono3_paciente_grid_line {vertical-align: top;text-align: right;}
.css_t_producto_tratamiento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_t_producto_tratamiento_grid_line {vertical-align: top;text-align: right;}
.css_g_descripcion_comunicacion_gestion_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_g_descripcion_comunicacion_gestion_grid_line {vertical-align: top;text-align: right;}
.css_g_autor_gestion_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_g_autor_gestion_grid_line {vertical-align: top;text-align: right;}
.css_p_id_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_p_id_paciente_grid_line {vertical-align: top;text-align: right;}
.css_g_evento_adverso_gestion_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_g_evento_adverso_gestion_grid_line {vertical-align: top;text-align: right;}
