.css_p_id_paciente_det_label {text-align: right;vertical-align: middle;}
.css_p_id_paciente_det_line {height:0px;text-align: right;}
.css_p_estado_paciente_det_label {text-align: right;vertical-align: middle;}
.css_p_estado_paciente_det_line {height:0px;text-align: right;}
.css_p_fecha_activacion_paciente_det_label {text-align: right;vertical-align: middle;}
.css_p_fecha_activacion_paciente_det_line {height:0px;text-align: right;}
.css_p_fecha_retiro_paciente_det_label {text-align: right;vertical-align: middle;}
.css_p_fecha_retiro_paciente_det_line {height:0px;text-align: right;}
.css_p_motivo_retiro_paciente_det_label {text-align: right;vertical-align: middle;}
.css_p_motivo_retiro_paciente_det_line {height:0px;text-align: right;}
.css_p_observacion_motivo_retiro_paciente_det_label {text-align: right;vertical-align: middle;}
.css_p_observacion_motivo_retiro_paciente_det_line {height:0px;text-align: right;}
.css_p_identificacion_paciente_det_label {text-align: right;vertical-align: middle;}
.css_p_identificacion_paciente_det_line {height:0px;text-align: right;}
.css_p_nombre_paciente_det_label {text-align: right;vertical-align: middle;}
.css_p_nombre_paciente_det_line {height:0px;text-align: right;}
.css_p_apellido_paciente_det_label {text-align: right;vertical-align: middle;}
.css_p_apellido_paciente_det_line {height:0px;text-align: right;}
.css_p_telefono_paciente_det_label {text-align: right;vertical-align: middle;}
.css_p_telefono_paciente_det_line {height:0px;text-align: right;}
.css_p_telefono2_paciente_det_label {text-align: right;vertical-align: middle;}
.css_p_telefono2_paciente_det_line {height:0px;text-align: right;}
.css_p_telefono3_paciente_det_label {text-align: right;vertical-align: middle;}
.css_p_telefono3_paciente_det_line {height:0px;text-align: right;}
.css_p_correo_paciente_det_label {text-align: right;vertical-align: middle;}
.css_p_correo_paciente_det_line {height:0px;text-align: right;}
.css_p_direccion_paciente_det_label {text-align: right;vertical-align: middle;}
.css_p_direccion_paciente_det_line {height:0px;text-align: right;}
.css_p_barrio_paciente_det_label {text-align: right;vertical-align: middle;}
.css_p_barrio_paciente_det_line {height:0px;text-align: right;}
.css_p_pais_paciente_det_label {text-align: right;vertical-align: middle;}
.css_p_pais_paciente_det_line {height:0px;text-align: right;}
.css_p_ciudad_paciente_det_label {text-align: right;vertical-align: middle;}
.css_p_ciudad_paciente_det_line {height:0px;text-align: right;}
.css_p_genero_paciente_det_label {text-align: right;vertical-align: middle;}
.css_p_genero_paciente_det_line {height:0px;text-align: right;}
.css_p_fecha_nacimineto_paciente_det_label {text-align: right;vertical-align: middle;}
.css_p_fecha_nacimineto_paciente_det_line {height:0px;text-align: right;}
.css_p_edad_paciente_det_label {text-align: right;vertical-align: middle;}
.css_p_edad_paciente_det_line {height:0px;text-align: right;}
.css_p_acudiente_paciente_det_label {text-align: right;vertical-align: middle;}
.css_p_acudiente_paciente_det_line {height:0px;text-align: right;}
.css_p_telefono_acudiente_paciente_det_label {text-align: right;vertical-align: middle;}
.css_p_telefono_acudiente_paciente_det_line {height:0px;text-align: right;}
.css_p_codigo_xofigo_det_label {text-align: right;vertical-align: middle;}
.css_p_codigo_xofigo_det_line {height:0px;text-align: right;}
.css_p_status_paciente_det_label {text-align: right;vertical-align: middle;}
.css_p_status_paciente_det_line {height:0px;text-align: right;}
.css_p_id_ultima_gestion_det_label {text-align: right;vertical-align: middle;}
.css_p_id_ultima_gestion_det_line {height:0px;text-align: right;}
.css_p_usuario_creacion_det_label {text-align: right;vertical-align: middle;}
.css_p_usuario_creacion_det_line {height:0px;text-align: right;}
.css_t_id_tratamiento_det_label {text-align: right;vertical-align: middle;}
.css_t_id_tratamiento_det_line {height:0px;text-align: right;}
.css_t_producto_tratamiento_det_label {text-align: right;vertical-align: middle;}
.css_t_producto_tratamiento_det_line {height:0px;text-align: right;}
.css_t_nombre_referencia_det_label {text-align: right;vertical-align: middle;}
.css_t_nombre_referencia_det_line {height:0px;text-align: right;}
.css_t_clasificacion_patologica_tratamiento_det_label {text-align: right;vertical-align: middle;}
.css_t_clasificacion_patologica_tratamiento_det_line {height:0px;text-align: right;}
.css_t_tratamiento_previo_det_label {text-align: right;vertical-align: middle;}
.css_t_tratamiento_previo_det_line {height:0px;text-align: right;}
.css_t_consentimiento_tratamiento_det_label {text-align: right;vertical-align: middle;}
.css_t_consentimiento_tratamiento_det_line {height:0px;text-align: right;}
.css_t_fecha_inicio_terapia_tratamiento_det_label {text-align: right;vertical-align: middle;}
.css_t_fecha_inicio_terapia_tratamiento_det_line {height:0px;text-align: right;}
.css_t_regimen_tratamiento_det_label {text-align: right;vertical-align: middle;}
.css_t_regimen_tratamiento_det_line {height:0px;text-align: right;}
.css_t_asegurador_tratamiento_det_label {text-align: right;vertical-align: middle;}
.css_t_asegurador_tratamiento_det_line {height:0px;text-align: right;}
.css_t_operador_logistico_tratamiento_det_label {text-align: right;vertical-align: middle;}
.css_t_operador_logistico_tratamiento_det_line {height:0px;text-align: right;}
.css_t_punto_entrega_det_label {text-align: right;vertical-align: middle;}
.css_t_punto_entrega_det_line {height:0px;text-align: right;}
.css_t_fecha_ultima_reclamacion_tratamiento_det_label {text-align: right;vertical-align: middle;}
.css_t_fecha_ultima_reclamacion_tratamiento_det_line {height:0px;text-align: right;}
.css_t_otros_operadores_tratamiento_det_label {text-align: right;vertical-align: middle;}
.css_t_otros_operadores_tratamiento_det_line {height:0px;text-align: right;}
.css_t_medios_adquisicion_tratamiento_det_label {text-align: right;vertical-align: middle;}
.css_t_medios_adquisicion_tratamiento_det_line {height:0px;text-align: right;}
.css_t_ips_atiende_tratamiento_det_label {text-align: right;vertical-align: middle;}
.css_t_ips_atiende_tratamiento_det_line {height:0px;text-align: right;}
.css_t_medico_tratamiento_det_label {text-align: right;vertical-align: middle;}
.css_t_medico_tratamiento_det_line {height:0px;text-align: right;}
.css_t_especialidad_tratamiento_det_label {text-align: right;vertical-align: middle;}
.css_t_especialidad_tratamiento_det_line {height:0px;text-align: right;}
.css_t_paramedico_tratamiento_det_label {text-align: right;vertical-align: middle;}
.css_t_paramedico_tratamiento_det_line {height:0px;text-align: right;}
.css_t_zona_atencion_paramedico_tratamiento_det_label {text-align: right;vertical-align: middle;}
.css_t_zona_atencion_paramedico_tratamiento_det_line {height:0px;text-align: right;}
.css_t_ciudad_base_paramedico_tratamiento_det_label {text-align: right;vertical-align: middle;}
.css_t_ciudad_base_paramedico_tratamiento_det_line {height:0px;text-align: right;}
.css_t_notas_adjuntos_tratamiento_det_label {text-align: right;vertical-align: middle;}
.css_t_notas_adjuntos_tratamiento_det_line {height:0px;text-align: right;}
